uvicorn
fastapi
pydantic
pydantic-settings
loguru
openai
transformers
wandb
dotenv
langchain
langchain_community
langchain-huggingface
chromadb
scikit-learn
sentence-transformers
torch
rank_bm25
pandas
datasets